@model AnimalPlanet.Models.Models.FamilyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Denomination
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denomination)
        </dd>
        <dt class = "col-sm-2">
            Order
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDenomination)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
