@model AnimalPlanet.Models.Models.ClassModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Denomination">Denomination</label>
                <input asp-for="Denomination" class="form-control" />
                <span asp-validation-for="Denomination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhylumId">Phylum</label>
                <select asp-for="PhylumId" class="form-control selectpicker" asp-items="ViewBag.Phylums" data-live-search="true"></select>
                <span asp-validation-for="PhylumId" class="text-danger"></span>
                <a asp-action="Create" asp-controller="Phylum">Add Phylum</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
